


body{
	background-image: url('/images/backgroundCal.jpg');
}
.nav{
	font-size:20px;
	color:white;
}

.heading{
	color:white;
	
}

.container{
	
	position:relative;
	left:250px;
	top:230px;
}
.label1{
	font-size:20px;
	color:white;
}